// Cores
$primary-color: #00031d;
$secondary-color: #00031d81;
$text-color: white;
$border-color: #ccc;
$text-bold: 700;
$blackground: rgba(50, 50, 51, 0.925);
$font-style: Roboto;

// Espaçamentos
$spacing-small: 1rem;
$spacing-medium: 2rem;

// Fonte
$font-size-global: 1.5rem;
